body {
    background: #000000;
}

.container {
    position:absolute;
    color:#fff;
    top:50%;
    left:50%;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

p, span {
    text-align: center;
    margin: 0;
    padding: 0;
}

#subtext {
    font-family: 'Raleway Dots', cursive;
    font-size: 5vw;
    margin-top: -10vw;
}

.hidden {
    display: none;
}

.melt1 {
    background-image: url("images/melt1.jpg");
}
.melt2 {
    background-image: url("images/melt2.jpg");
}
.melt3 {
    background-image: url("images/melt3.jpg");
}
.melt4 {
    background-image: url("images/melt4.jpg");
}
.melt5 {
    background-image: url("images/melt5.jpg");
}
.melt6 {
    background-image: url("images/melt6.jpg");
}
.melt7 {
    background-image: url("images/melt7.jpg");
}
.melt8 {
    background-image: url("images/melt8.jpg");
}
.melt9 {
    background-image: url("images/melt9.jpg");
}

#counter {
    font-family: 'Overpass Mono', monospace;
    color: #ffffff;
    line-height: 40vw;
    letter-spacing: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: white; /* fallback color */
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

#counter.days {
    font-size: 40vw;
}

#counter.seconds {
    font-size: 20vw;
}

#counter.heart {
    font-size: 40vw;
}

#counter.heart2 {
    font-size: 45vw;
}

#counter.heart3 {
    font-size: 50vw;
}

#counter.heart4 {
    font-size: 52vw;
}

#counter.heart5 {
    font-size: 55vw;
}

/*Reset*/
#counter.heart6 {
    font-size: 38vw;
}

#counter.heart7{
    font-size: 42vw;
}
#counter.heart8{
    font-size: 43vw;
}
#counter.heart9{
    font-size: 44vw;
}
#counter.heart10{
    font-size: 45vw;
}
#counter.heart11{
    font-size: 46vw;
}
#counter.heart12{
    font-size: 47vw;
}
#counter.heart13{
    font-size: 48vw;
}
#counter.heart14{
    font-size: 49vw;
}
#counter.heart15{
    font-size: 50vw;
}
#counter.heart16{
    font-size: 51vw;
}
#counter.heart17{
    font-size: 52vw;
}
#counter.heart18{
    font-size: 53vw;
}
#counter.heart19{
    font-size: 54vw;
}
#counter.heart20{
    font-size: 55vw;
}

#subtext.heart {

}
